/* CLASSI DI RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}
/* PERSONALIZZAZIONE SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:green; 
}

/* TOP-CONTENT */
#top-content{
    height: calc(100vh - 100px);
    display: flex;
}

/* NAVBAR */
/* MAIN-NAV */
.main-nav {
    background-color: #000000;
    width: 300px;
    color: #6b6b6b;
}

.main-nav-xs{
    background-color: #000000;
    color: #6b6b6b;
    display: none;
}

.main-nav-xs .logo-small{
    width: 25px;
}

.container-nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
}

.logo {
    width: 150px;
}

.top-nav img{
    width: 25px;
    margin-right: 10px;
}

.bottom-nav img{
    width: 25px;
    margin-right: 10px;
}

.home {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
}

.library {
    display: flex;
    align-items: center;
}

.download{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user{
    display: flex;
    align-items: center;
}

.user img{
    background-color: gray;
    border-radius: 1rem;
}
  
.top-nav {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 15px;
    margin-top: 25px;
    margin-bottom: 15px
}

.top-nav i{
    margin-right: 8px;
}

.middle-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0;
}

.middle-nav h5 {
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
}
  
.playlist {
    display: flex;
    align-items: center;
}

.middle-nav  .playlist  i {
    color: #878787;
    font-size: 2.5rem;
    margin-right: 15px;
}

.middle-nav div {
    font-size: 1.15rem;
    font-weight: 800;
}  

.nav-list{
    overflow-y: auto;
}

.nav-list ul {
    list-style-type: none;
    margin: 10px 0;
}

.nav-list .nav-items {
    font-size: .95rem;
    font-weight: 700;
    margin: 15px 0;
}

.bottom-nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 20px;
}

.download *{
    font-size: .85rem;
    font-weight: bold;
}

.user *{
    font-size: 1rem;
    margin-top: 15px;
}

.user span{
    color: white;
}

.main-nav-xs img{
    margin-right: 0;
}

.user span, img{
    cursor: pointer;
}

.nav-items a{
    text-decoration:none;
    color: #878787;
}

.nav-items a:hover{
    color: white;
}

/* MAIN CONTENT */
#main-content{
    width: calc(100% - 300px);
    background-color: #141922;
    overflow: auto;
}

/* ALBUM */

.main-list{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top:20px;
    font-size: .95rem;
    list-style: none;
}

.main-items:hover{
    box-shadow:inset 0 -10px 0 -9px #9CE62A;
}

.main-list a{
    font-weight: 800;
    text-decoration: none;
    color: gray
}

.container{
    margin: 50px auto;
    padding: 0 1rem;
}

.row{
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
}

.col{
    padding: 1rem;
    width: calc(100% / 6)
}

.effect{
    position: relative;
    cursor: pointer;  
}

.prova{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none; 
}

.prova i{
    font-size: 50px;
    color: white;    
}

.album h2{
    color: white;
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.album span{
    color: #878787;
    font-size: .85rem;
}

.card .title{
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
}

.card .title h4{
    color: white;
    margin-bottom: 5px;
}

.card .title span{
    color: #878787;
    font-size: .8rem;
    font-weight: 900;
}

#second-title{
    margin-top: 20px;
}

.img-circle{
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.img-circle img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



/* HEADER */
header {
    position: sticky;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #080B12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: .8;
}

header a{
    font-size: .75rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 2rem;
}

/* FOOTER */

footer{
    height: 100px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

.footer-content{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.footer-column-left {
    display: flex;
    align-items: center;
}

.footer-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    max-width: 800px;
}

.footer-column-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.footer-column-left h5{
    color: white;
    cursor: pointer;
}

.footer-column-left span{
    color: gray;
}

.footer-column-left .icon{
   margin-left: 30px;
}

.footer-column-left .icon i{
    color: gray;
    margin-right: 10px;
    margin-top: 5px;
}

.now-playing {
    width: 60px;
    margin-right: 10px;
}

.now-playing img {
    width: 100%;
}

.album-details span{
    font-size: 15px;
}

.center-top{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.fa-circle-play {
    margin: 0 8px;
}

.center-down{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.center-top i {
    cursor: pointer;
    color: white;
}

.play-bar, .white-bar {
    display: block;
    cursor: pointer;
    line-height: 1rem;
    height: 3px;
    border-radius: 2px;
}

.footer-column-center .play-bar {
    margin: 0 25px;
    width: 65%;
    background-color: grey;
}

.footer-column-center .white-bar {
    width: 25%;
    background-color: white;
}

.white-bar{
    position: relative;
}

.ball{
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    display: none;
}

.small-ball{
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    display: none;
}

.settings {
    width: 170px;
    display: flex;
    align-items: center;
}

.settings i {
    cursor: pointer;
    color: white;
    margin-right: 10px;
}

.footer-column-right .play-bar {
    width: 65%;
    background-color: grey;
}

.footer-column-right .white-bar {
    width: 25%;
    background-color: white;
}

/* HOVER */
.home span:hover{
    color:white;
    cursor: pointer;
}

.top-nav img:hover{
    box-shadow:inset 10px 0 0 -8px #9CE62A;
}

.search span:hover{
    color:white;
    cursor: pointer;
}

.library span:hover{
    color:white;
    cursor: pointer;
}

.playlist:hover{
    color: white;
    cursor: pointer;
}

.playlist i:hover{
    color: white;
}

.download > span:hover{
    color: white;
    cursor: pointer;
}

.effect:hover{
    filter: opacity(.8);
}

.effect:hover .prova{
    display: flex;
}

.main-items:hover a{
    color: white;
}

.upgrade:hover{
    transform: scale(1.1);
    color: white;
}

.album-details span:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.icon i:hover{
    cursor: pointer;
    color: white;
}

.play-bar:hover .white-bar {
    background-color: #9CE62A;
}

.play-bar:hover .ball{
    display: block;
}

.play-bar:hover .small-ball{
    display: block;
}




/* RESPONSIVE */

/* FOOTER */

/* MEDIUM */
@media screen and (max-width:992px) {
    /* MAIN-CONTENT */
    .row{
        flex-wrap: wrap;
    }

    .col{
        width: calc(100% / 4)
    }

    .main-list{
        flex-wrap: wrap;
    }

    .main-list li:last-child{
        display: flex;
        justify-content: center;
        flex-basis: 100%;
        margin-top: 20px;
    }
    

    /* FOOOTER */
    .footer-column-left .album{
        font-size: .85rem;
    }
    
    .footer-column-left .album-details{
        white-space: nowrap;
    }

    .footer-column-left span{
        font-size: .85rem;
    }

    .footer-column-left .icon{
        font-size: .7rem;
        white-space: nowrap;
    }

    .footer-column-right .settings i{
        font-size: 1rem;
    }
}

/* SMALL */
@media screen and (max-width:768px) {
    /* MAIN-CONTENT */

    .main-list li:last-child{
        margin-top: 0;
        display: list-item;
        flex-basis: auto;
    }
    
    .card .title h4{
        font-size: 1.4rem;
    }
    
    .card .title span{
        font-size: 1.2rem;
    }
    
    .col{
        width: calc(100% / 2)
    }

    .album span{
        font-size: 1.2rem;
    }

    /* FOOTER */
    .footer-column-left .icon {
        margin-left: 20px;
        white-space: pre-line;
        font-size: 1rem;
    }
}

/* X-SMALL */

@media screen and (max-width:576px){
    /* SIDEBAR */
    .main-nav{
        display: none;
    }

    .main-nav-xs{
        display: block;
    }

    #main-content{
        width: calc(100% - 75px);
    }

    .download{
        margin-bottom: 0;
    }


    /* FOOTER */
    .footer-column-left .icon {
        margin-left: 10px;
    }

    .footer-column-center .play-bar{
        margin: 0 10px;
    }

    .footer-column-left .album-details{
        white-space: pre-line;
    }

    .footer-column-left .album-details span{
        font-size: 1rem;
    }

    .footer-column-left h5{
        font-size: 1rem;
    }

    .footer-column-right{
        margin-left: 10px;
        margin-right: 0;
    }
}

  



